
<% include templates/header.ejs %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to JSports</h1>
            <p>View our hand-picked sport facilities from all over Jordan</p>
            <p>
                <a  class="btn btn-primary btn-lg" href='/facilities/new'>add new facility</a>
            </p>
        </div>
    </header>

    <div class="col-lg-12">
        <h3>Most popular places</h3>
    </div>
    <div class="row text-center" >
        <% facilities.forEach(function (facility) { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%=facility.image%>">
                <div class="caption">
                    <h4><%= facility.name%></h4>
                </div>
                <p>
                    <a href="/facilities/<%= facility._id %>" class="btn btn-primary">More info</a>
                </p>
            </div>
        </div>
        <%})%>
    </div>
</div>
<%include templates/footer.ejs%>